<!-- 頁尾 -->
<footer class="bg-primary">
  <!-- 平板以上 -->
  <div class="container pt-12 pb-8 d-sm-none">
    <div class="d-flex justify-content-between align-items-center mb-6">
      <!-- 分頁 桌電版 -->
      <div class="pages d-md-none">
        <ul class="d-flex text-white">
          <li class="mr-12"><a href="#">首頁</a></li>
          <li class="mr-12"><a href="#">系列鏡框</a></li>
          <li class="mr-12"><a href="#">門市據點</a></li>
          <li class="mr-12"><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
      </div>
      <!-- 分頁 平板 -->
      <div class="pages d-none d-md-block">
        <ul class="d-flex text-white">
          <li class="mr-10"><a href="#">首頁</a></li>
          <li class="mr-10"><a href="#">系列鏡框</a></li>
          <li class="mr-10"><a href="#">門市據點</a></li>
          <li class="mr-10"><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
      </div>

      <div class="icons">
        <ul class="d-flex">
          <li class="mr-8">
            <a href="#"
              ><img
                class="social-icon"
                src="/assets/images/ic-social-fb.png"
                alt="fb-icon"
            /></a>
          </li>
          <li class="mr-8">
            <a href="#"
              ><img
                class="social-icon"
                src="/assets/images/ic_social_ig.png"
                alt="ig-icon"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                class="social-icon"
                src="/assets/images/ic_social_line.png"
                alt="line-icon"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tel-mail">
      <h4 class="fs-3 text-white mb-2 d-flex align-items-center">
        <span class="material-symbols-outlined d-block footer-symbol mr-4">
          call
        </span>
        <a class="link" href="tel:0800-000-000">0800-000-000</a>
      </h4>
      <h4 class="fs-3 text-white d-flex align-items-center">
        <span class="material-symbols-outlined d-block footer-symbol mr-4">
          mail
        </span>
        <a class="link" href="#">glasses@business.com</a>
      </h4>
    </div>
    <hr class="my-8" />
    <div
      class="d-flex justify-content-between align-items-center mb-8 text-white"
    >
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <p class="fs-6">
        <span class="mr-12">隱私權政策</span><span>服務條款</span>
      </p>
    </div>
  </div>
  <!-- 行動版 -->
  <div class="container py-6 d-none d-sm-block">
    <div class="d-flex justify-content-between mb-6">
      <div class="tel-mail">
        <h4 class="text-white mb-2 d-flex align-items-center">
          <span class="material-symbols-outlined d-block footer-symbol mr-4">
            call
          </span>
          <a class="link" href="tel:0800-000-000">0800-000-000</a>
        </h4>
        <h4 class="text-white d-flex align-items-center">
          <span class="material-symbols-outlined d-block footer-symbol mr-4">
            mail
          </span>
          <a class="link" href="#">glasses@business.com</a>
        </h4>
      </div>
      <div class="icons">
        <ul class="d-flex">
          <li class="mr-2">
            <a href="#"
              ><img
                class="social-icon"
                src="/assets/images/ic-social-fb.png"
                alt="fb-icon"
            /></a>
          </li>
          <li class="mr-2">
            <a href="#"
              ><img
                class="social-icon"
                src="/assets/images/ic_social_ig.png"
                alt="ig-icon"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                class="social-icon"
                src="/assets/images/ic_social_line.png"
                alt="line-icon"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="mb-4" />
    <div class="text-white">
      <p class="mb-2">Copyright © 2020 Glasses.All rights reserved.</p>
      <p class="mb-2">隱私權政策</p>
      <p>服務條款</p>
    </div>
  </div>
</footer>
